<a href="https://colab.research.google.com/github/jenniferoreffo/Bit_Bucket_Hamoye_Assignment/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity,euclidean_distances

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10/12/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19/05/2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26/10/2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16/07/2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",07/03/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [ ]:
movies.iloc[0]

budget                                                          237000000
genres                  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
homepage                                      http://www.avatarmovie.com/
id                                                                  19995
keywords                [{"id": 1463, "name": "culture clash"}, {"id":...
original_language                                                      en
original_title                                                     Avatar
overview                In the 22nd century, a paraplegic Marine is di...
popularity                                                     150.437577
production_companies    [{"name": "Ingenious Film Partners", "id": 289...
production_countries    [{"iso_3166_1": "US", "name": "United States o...
release_date                                                   10/12/2009
revenue                                                        2787965087
runtime                                                             162.0
spoken_languages        [{"iso_639_1": "en", "name": "English"}, {"iso...
status                                                           Released
tagline                                       Enter the World of Pandora.
title                                                              Avatar
vote_average                                                          7.2
vote_count                                                          11800
Name: 0, dtype: object

In [ ]:
movies['keywords'][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [ ]:
movies['tagline'][0]

'Enter the World of Pandora.'

In [ ]:
movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [ ]:
df = pd.read_csv('tmdb_5000_credits.csv')
df

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [ ]:
df['cast']

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4798    [{"cast_id": 1, "character": "El Mariachi", "c...
4799    [{"cast_id": 1, "character": "Buzzy", "credit_...
4800    [{"cast_id": 8, "character": "Oliver O\u2019To...
4801    [{"cast_id": 3, "character": "Sam", "credit_id...
4802    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4803, dtype: object

### Merging the two files together on the "title" column

In [ ]:
df = movies.merge(df, on='title')
df.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4808 entries, 0 to 4807
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4808 non-null   int64
 1   genres                4808 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4808 non-null   int64
 4   keywords              4808 non-null   object
 5   original_language     4808 non-null   object
 6   original_title        4808 non-null   object
 7   overview              4805 non-null   object
 8   popularity            4808 non-null   float64
 9   production_companies  4808 non-null   object
 10  production_countries  4808 non-null   object
 11  release_date          4807 non-null   object
 12  revenue               4808 non-null   int64
 13  runtime               4806 non-null   float64
 14  spoken_languages      4808 non-null   object
 15  status                4808 non-null   object
 16  tagline               3964 non-null   object
 17  title                 4808 non-null   object
 18  vote_average          4808 non-null   float64
 19  vote_count            4808 non-null   int64
 20  movie_id              4808 non-null   int64
 21  cast                  4808 non-null   object
 22  crew                  4808 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.5+ KB

In [ ]:
df.isnull().sum()

budget                     0
genres                     0
homepage                3095
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

### Function to convert list of strings to list using names

In [ ]:
import ast
def list_string(x):
    x = ast.literal_eval(x)
    list = []
    for i in x:
        list.append(i['name'])
    return list

### Function to convert list of strings to list to get director's name

In [ ]:
def list_string2(x):
    x = ast.literal_eval(x)
    list = []
    for i in x:
        if i['job'] == 'Director':
            list.append(i['name'])
    return list

In [ ]:
df['cast'] = df['cast'].apply(list_string)

In [ ]:
df['crew'] = df['crew'].apply(list_string2)

In [ ]:
df['genres'] = df['genres'].apply(list_string)

In [ ]:
df['keywords'] = df['keywords'].apply(list_string)

In [ ]:
df.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
1208,43000000,"[Drama, Horror, Mystery, Thriller]",NaN,9913,"[nurse, secret, dream, fight, kidnapping, new ...",en,The Skeleton Key,A hospice nurse working at a spooky New Orlean...,29.105407,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fearing Is Believing,The Skeleton Key,6.4,573,9913,"[Kate Hudson, Gena Rowlands, Peter Sarsgaard, ...",[Iain Softley]
2364,21000000,"[Drama, Thriller]",NaN,2575,"[dancing, spy, birthday, map, fireworks, bridg...",en,The Tailor of Panama,A British spy is banished to Panama after havi...,7.047975,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"In a place this treacherous, what a good spy n...",The Tailor of Panama,6.2,92,2575,"[Pierce Brosnan, Geoffrey Rush, Jamie Lee Curt...",[John Boorman]
3913,3000000,"[Fantasy, Horror, Thriller]",NaN,10285,"[male nudity, female nudity, waitress, camping...",en,Jason Goes to Hell: The Final Friday,"Jason Voorhees, the living, breathing essence ...",10.341982,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,87.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Evil has finally found a home.,Jason Goes to Hell: The Final Friday,4.2,193,10285,"[Kane Hodder, John D. LeMay, Kari Keegan, Stev...",[Adam Marcus]
3363,700000,"[Crime, Drama, Comedy]",http://www.youaredope.com/,308639,"[california, hip-hop, harvard university, geek...",en,Dope,Malcolm is carefully surviving life in a tough...,29.761163,"[{""name"": ""Forest Whitaker's Significant Produ...",...,103.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,It's hard out here for a geek.,Dope,7.2,691,308639,"[Shameik Moore, Kiersey Clemons, Tony Revolori...",[Rick Famuyiwa]
2423,15000000,"[Horror, Thriller]",http://www.foxsearchlight.com/thehillshaveeyes/,9792,"[ambush, new mexico, van, family holiday, axe ...",en,The Hills Have Eyes,Based on Wes Craven's 1977 suspenseful cult cl...,35.107857,"[{""name"": ""Fox Searchlight Pictures"", ""id"": 43...",...,107.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The lucky ones die first.,The Hills Have Eyes,6.1,705,9792,"[Aaron Stanford, Kathleen Quinlan, Vinessa Sha...",[Alexandre Aja]

In [ ]:
df['cast']

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4803    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4804    [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4805    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4806    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4807    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4808, dtype: object

In [ ]:
df['crew']

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4803                          [Robert Rodriguez]
4804                              [Edward Burns]
4805                               [Scott Smith]
4806                               [Daniel Hsia]
4807    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4808, dtype: object

- We notice the presence of whitespaces between items in the cast and crew column.

### Function to remove whitespaces

In [ ]:
def remove_whitespace(x):
    list = []
    for i in x:
        list.append(i.replace(' ',''))
    return list

In [ ]:
df['cast'] = df['cast'].apply(remove_whitespace)
df['crew'] = df['crew'].apply(remove_whitespace)
df['genres'] = df['genres'].apply(remove_whitespace)

In [ ]:
df['cast']

0       [SamWorthington, ZoeSaldana, SigourneyWeaver, ...
1       [JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...
2       [DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...
3       [ChristianBale, MichaelCaine, GaryOldman, Anne...
4       [TaylorKitsch, LynnCollins, SamanthaMorton, Wi...
                              ...
4803    [CarlosGallardo, JaimedeHoyos, PeterMarquardt,...
4804    [EdwardBurns, KerryBishé, MarshaDietlein, Cait...
4805    [EricMabius, KristinBooth, CrystalLowe, GeoffG...
4806    [DanielHenney, ElizaCoupe, BillPaxton, AlanRuc...
4807    [DrewBarrymore, BrianHerzlinger, CoreyFeldman,...
Name: cast, Length: 4808, dtype: object

In [ ]:
df['genres']

0       [Action, Adventure, Fantasy, ScienceFiction]
1                       [Adventure, Fantasy, Action]
2                         [Action, Adventure, Crime]
3                   [Action, Crime, Drama, Thriller]
4                [Action, Adventure, ScienceFiction]
                            ...
4803                       [Action, Crime, Thriller]
4804                               [Comedy, Romance]
4805               [Comedy, Drama, Romance, TVMovie]
4806                                              []
4807                                   [Documentary]
Name: genres, Length: 4808, dtype: object

In [ ]:
df['crew']

0                              [JamesCameron]
1                             [GoreVerbinski]
2                                 [SamMendes]
3                          [ChristopherNolan]
4                             [AndrewStanton]
                        ...
4803                        [RobertRodriguez]
4804                            [EdwardBurns]
4805                             [ScottSmith]
4806                             [DanielHsia]
4807    [BrianHerzlinger, JonGunn, BrettWinn]
Name: crew, Length: 4808, dtype: object

In [ ]:
# only using the first three casts
df['cast'] = df['cast'].apply(lambda i: i[0:3])
df['cast']

0        [SamWorthington, ZoeSaldana, SigourneyWeaver]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2            [DanielCraig, ChristophWaltz, LéaSeydoux]
3            [ChristianBale, MichaelCaine, GaryOldman]
4          [TaylorKitsch, LynnCollins, SamanthaMorton]
                             ...
4803    [CarlosGallardo, JaimedeHoyos, PeterMarquardt]
4804         [EdwardBurns, KerryBishé, MarshaDietlein]
4805           [EricMabius, KristinBooth, CrystalLowe]
4806            [DanielHenney, ElizaCoupe, BillPaxton]
4807    [DrewBarrymore, BrianHerzlinger, CoreyFeldman]
Name: cast, Length: 4808, dtype: object

- We are going to be using few of the features relevant to the solution of our problem

In [ ]:
final_df = pd.DataFrame(df, columns=['id','title','homepage','cast','crew','overview','genres','keywords'])
final_df.head()

,id,title,homepage,cast,crew,overview,genres,keywords
0,19995,Avatar,http://www.avatarmovie.com/,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[based on novel, mars, medallion, space travel..."

In [ ]:
final_df.isnull().sum()

id             0
title          0
homepage    3095
cast           0
crew           0
overview       3
genres         0
keywords       0
dtype: int64

final_df['url'] = 0
for i in range(len(url)):
    if final_df['homepage'][i] == 0:
        url = ("{} + {}".format("https://www.",("".join(list(final_df.loc["title",url[i][0]].split())))))
        final_df['url'][i] = url
    else:
        final_df['url'][i] = final_df['homepage'][i]

In [ ]:
# converting strings into list of strings
def split(text):
    text = str(text).split()
    return text

In [ ]:
final_df['overview'] = final_df['overview'].apply(split)

In [ ]:
final_df['feature'] = final_df['overview'] + final_df['genres'] + final_df['keywords'] + final_df['cast'] + final_df['crew']

In [ ]:
final_df.drop(columns=['overview','genres','keywords','cast','crew'], inplace=True)

In [ ]:
final_df.head()

,id,title,homepage,feature
0,19995,Avatar,http://www.avatarmovie.com/,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [ ]:
# convert the feature column to lower case
def lower(x):
    list = []
    for i in x:
        list.append(i.lower())
    return list

In [ ]:
final_df['feature'] = final_df['feature'].apply(lower)

In [ ]:
final_df

,id,title,homepage,feature
0,19995,Avatar,http://www.avatarmovie.com/,"[in, the, 22nd, century,, a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[captain, barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[a, cryptic, message, from, bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[following, the, death, of, district, attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[john, carter, is, a, war-weary,, former, mili..."
...,...,...,...,...
4803,9367,El Mariachi,NaN,"[el, mariachi, just, wants, to, play, his, gui..."
4804,72766,Newlyweds,NaN,"[a, newlywed, couple's, honeymoon, is, upended..."
4805,231617,"Signed, Sealed, Delivered",http://www.hallmarkchannel.com/signedsealeddel...,"[""signed,, sealed,, delivered"", introduces, a,..."
4806,126186,Shanghai Calling,http://shanghaicalling.com/,"[when, ambitious, new, york, attorney, sam, is..."
4807,25975,My Date with Drew,NaN,"[ever, since, the, second, grade, when, he, fi..."

In [ ]:
pip install nltk

Requirement already satisfied: nltk in c:\users\asus\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk) (4.63.0)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import nltk
from nltk.stem.porter import PorterStemmer
porter = PorterStemmer()

In [ ]:
def stem(text):
    list = []
    for i in text:
        list.append(porter.stem(i))
    return list

In [ ]:
final_df['feature'] = final_df['feature'].apply(stem)

In [ ]:
final_df.sample(5)

,id,title,homepage,feature
3932,28005,Kama Sutra - A Tale of Love,NaN,"[tara, and, maya, are, two, insepar, friend, i..."
3768,6537,The Orphanage,NaN,"[a, woman, bring, her, famili, back, to, her, ..."
614,20352,Despicable Me,http://www.despicable.me/,"[villain, gru, live, up, to, hi, reput, as, a,..."
2425,228203,"McFarland, USA",NaN,"[a, track, coach, in, a, small, california, to..."
3189,10179,The Ice Pirates,NaN,"[the, time, is, the, distant, future,, where, ..."

In [ ]:
# removing the spaces
final_df['feature'] = final_df['feature'].apply(remove_whitespace)

In [ ]:
final_df['feature'].head()

0    [in, the, 22nd, century,, a, parapleg, marin, ...
1    [captain, barbossa,, long, believ, to, be, dea...
2    [a, cryptic, messag, from, bond’, past, send, ...
3    [follow, the, death, of, district, attorney, h...
4    [john, carter, is, a, war-weary,, former, mili...
Name: feature, dtype: object

In [ ]:
final_df['feature'] = final_df['feature'].apply(lambda x: " ".join(x))

In [ ]:
final_df['feature'].head()

0    in the 22nd century, a parapleg marin is dispa...
1    captain barbossa, long believ to be dead, ha c...
2    a cryptic messag from bond’ past send him on a...
3    follow the death of district attorney harvey d...
4    john carter is a war-weary, former militari ca...
Name: feature, dtype: object

### Vectorization

In [ ]:
# creating a count vectorizer object
cv = CountVectorizer(stop_words='english')

In [ ]:
# creating a data matrix from the overviews
X = cv.fit_transform(final_df['feature']).toarray()

In [ ]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [ ]:
scores = cosine_similarity(X)
scores

array([[1.        , 0.06776309, 0.06862635, ..., 0.03571429, 0.        ,
        0.        ],
       [0.06776309, 1.        , 0.05063697, ..., 0.01976424, 0.        ,
        0.0209427 ],
       [0.06862635, 0.05063697, 1.        , ..., 0.02001602, 0.        ,
        0.        ],
       ...,
       [0.03571429, 0.01976424, 0.02001602, ..., 1.        , 0.03311331,
        0.03311331],
       [0.        , 0.        , 0.        , ..., 0.03311331, 1.        ,
        0.07017544],
       [0.        , 0.0209427 , 0.        , ..., 0.03311331, 0.07017544,
        1.        ]])

In [ ]:
final_df[final_df['title'] == 'Avatar'].index[0]

0

In [ ]:
def recommend_movie(movie):
    index = final_df[final_df['title'] == movie].index[0]
    distance = sorted(list(enumerate(scores[index])),reverse=True,key=lambda i: i[1])
    for i in distance[1:9]:
        print('{} {}'.format(final_df.iloc[i[0]].title, final_df.iloc[i[0]].homepage))

In [ ]:
recommend_movie("Avatar")

Aliens nan
Aliens vs Predator: Requiem http://www.avp-r.com/
Titan A.E. nan
Independence Day nan
Battle: Los Angeles http://www.battlela.com
Meet Dave http://www.meetdavemovie.com/
Predators nan
Falcon Rising nan

In [ ]:
recommend_movie('Scream 3')

Scream nan
Scream 2 nan
Mirrors nan
Sorority Row nan
Scream 4 http://www.scream-4.com/
Disaster Movie http://www.disastermovie.net/
Friday the 13th: A New Beginning nan
Halloween 4: The Return of Michael Myers nan

In [ ]:
recommend_movie('Batman')

Batman nan
Batman & Robin nan
The R.M. http://www.halestormentertainment.com/p_movies_details.asp?mID=jnlppmp8
Batman Begins http://www2.warnerbros.com/batmanbegins/index.html
Batman Returns nan
The Dark Knight http://thedarkknight.warnerbros.com/dvdsite/
The Dark Knight Rises http://www.thedarkknightrises.com/
Code of Honor nan